
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
footer{
    background: url("../img/wallpaper_footer_4Ksuper_wide_32_9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.details-card
{
    border: 1px solid grey;
    border-radius: 5px;
    
}
footer{
    min-height:30vh;
    width:100%;
    margin-top: auto;
}

#user-img img
{
    border-radius: 50%;
}
#user-name, #user-email
{
    font-size: 1.5rem;
   
}