

footer{
    background: url("../img/wallpaper_footer_4Ksuper_wide_32_9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    
}
.details-card
{
    border: 1px solid grey;
    border-radius: 5px;
}
footer{
    position: absolute;
    bottom:0;
    height:30vh;
    width:100%;
}
.details-container
{
    border:2px solid black;
    height: 60vh;
}
#user-img img
{
    border-radius: 50%;
}